################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/dataset/doi_10.7941_D1N33Q__v6
/dataset/energy
/dataset/temperature
/dataset/energy
/data
/results
/checkpoint
/.vs
/checkpoints
.gitignore
/tuning